@import '../styles/colors.scss';

.article {
  width: 100%;
  background: $White;
  border-radius: 20px;
  padding: 20px 55px;

  @media (max-width: $size420px) {
    padding: 10px 20px;
  }

  &Title {
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    margin-bottom: 0.3em;
    text-align: center;

    @media (max-width: $size420px) {
      font-size: 26px;
    }
  }

  &Text {
    font-size: 18px;
    text-align: center;
    color: $Red;
  }
}
