@import '../../styles/colors.scss';

.tasks {
  position: relative;
  max-height: 580px;
  overflow: hidden;
  overflow-y: auto;
  padding: 5px 6px;

  @media (max-width: $size420px) {
    max-height: 420px;
  }
}

::-webkit-scrollbar {
  width: 7px;
  @media (max-width: 516px) {
     width: 3px;
  }
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px #223c5033 inset;
  background-color: $GhostWhite;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(180deg, $AquaLight, $BlueLight);
}