@import '../../styles/colors.scss';

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin-bottom: 20px;

  &Value {
    width: 100%;
    max-width: 350px;
    height: 40px;
    font: 20px/1.4 'Roboto', sans-serif;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: 1px solid $MidnightBlue;
    background-color: $LightGrey;
    color: $MidnightBlue;
    border: none;
    padding: 5px 10px;
    transition: background-color 0.3s ease-out, box-shadow 0.3s ease-out;

    &:focus {
      box-shadow: 0 0 10px $SlateBlue;
      outline: 1px solid $MidnightBlue;
    }

    &::placeholder {
      color: $SlateBlue;
    }
  }

  :focus + &Button {
    box-shadow: 2px 0 10px $SlateBlue;
  }

  &Button {
    background-color: $MediumPurple;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid $MidnightBlue;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease-out, box-shadow 0.3s ease-out;

    &:hover {
      background-color: $BlueViolet;
    }

    &:active {
      background-color: $SlateBlue;
      box-shadow: 2px 0 10px $SlateBlue;
    }
  }

  :active > &Value {
    box-shadow: 0 0 10px $SlateBlue;
  }

  &Icon {
    width: 37px;
    height: 37px;
    color: $White;
    transition: color .2s linear;

    &:hover {
      color: $Gold;
    }
  }
}