@import '../../../styles/colors.scss';

.task {
  position: relative;
  max-width: 72%;
  width: 100%;
  margin: 0 auto 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;

  @media (max-width: $size620px) {
    max-width: 96%;
  }

  &Edit {
    padding: 18px;
    background-color: $Green;
    border: 1px solid $Black;
    border-radius: 5px;
  }

  &Remove {
    padding: 18px;
    border: 1px solid $Black;
    background-color: $Red;
    border-radius: 5px;
  }

  &Text {
    position: relative;
    font-size: 20px;
    max-width: 80%;
    width: 100%;
    padding: 4px 5px 4px 25px;
    border: 1px solid $Black;
    background-color: $LightGrey;
    border-radius: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &CheckboxWrapper {
    position: absolute;
    left: 5px;
    top: 15%;
  }

  &CheckboxWrapper input[type='checkbox'] {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 0.15em;
    margin-right: 0.5em;
    border: 0.15em solid $RoyalBlue;
    outline: none;
    cursor: pointer;
  }

  &Checked {
    position: relative;
    background-color: $RoyalBlue;
    position: relative;

    &::after,
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background: #fff;
    }
    &::after {
      left: 0;
      top: 5px;
      rotate: -50deg;
    }
    &::before {
      left: 0;
      bottom: 5px;
      rotate: 50deg;
    }
  }
}
