@import '../../../styles/colors.scss';

.task {
  position: relative;
  max-width: 72%;
  width: 100%;
  margin: 0 auto 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;

  @media (max-width: $size620px) {
    max-width: 96%;
  }

  &Edit {
    padding: 18px;
    background-color: $Green;
    border: 1px solid $Black;
    border-radius: 5px;
  }

  &Remove {
    padding: 18px;
    border: 1px solid $Black;
    background-color: $Red;
    border-radius: 5px;
  }

  &Text {
    position: relative;
    font-size: 20px;
    max-width: 80%;
    width: 100%;
    padding: 4px 5px 4px 25px;
    border: 1px solid $Black;
    background-color: $LightGrey;
    border-radius: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &CheckboxWrapper {
    position: absolute;
    left: 5px;
    top: 18%;
  }

  &CheckboxWrapper input[type='checkbox'] {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid $MidnightBlue;
    outline: none;
    cursor: pointer;
  }

  &Checked {
    background-color: $MidnightBlue;
    background-image: url('public/check_success.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}